<!DOCTYPE html>
<html>
<head>
  <title>Ahl2ahl3Checker</title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>

  <script src="http://tablesorter.com/__jquery.tablesorter.min.js"></script>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="css/application.css">

</head>
<body>

<%= yield %>

</body>
</html>
